[submodule "roles/graphite"]
	path = roles/graphite
	url = git@github.com:Duologic/ansible-graphite.git
[submodule "roles/packagecloud"]
	path = roles/packagecloud
	url = git@github.com:computology/packagecloud-ansible-role.git
[submodule "roles/statsdaemon"]
	path = roles/statsdaemon
	url = git@github.com:Duologic/ansible-role-statsdaemon.git
[submodule "roles/carbon-relay-ng"]
	path = roles/carbon-relay-ng
	url = git@github.com:Duologic/ansible-role-carbon-relay-ng.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = git@github.com:cloudalchemy/ansible-grafana.git
